:root {
  /*------Color variables------*/
  --white_A700: #ffffff;
  --cyan_300: #48d8e8;
  --light_blue_900: #004f95;
  --gray_300: #e1ded2;
  --black_900: #000000;
  --blue_gray_100_0c: #d9d9d90c;
  

  /*------Shadow variables------*/
  --shadow-xs: 0px 4px 4px 0px #0000003f;

  /*------Border radius variables------*/
  --radius-xs: 20px;
  --radius-sm: 23px;
  --radius-md: 37px;
}
